body{
    padding-top: 65px;
    padding-bottom: 100px;
    text-decoration: none;
    background-color: #efefef;
    font-size: 18px;
}

.navbar{
    background-color: #c65353;
    border-color: #efefef;
    /*font color*/
    color: #efefef;
    font-size: 24px;
}

.navbar .navbar-brand {
    color: #efefef;
    font-size: 24px;
}

.navbar-text > a {
    text-decoration: none;
}

p {
  color: #efefef;
}

a i{
  color: #efefef;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:hover
.navbar .navbar-nav > li > a:focus{
    color: #efefef;
    background-color: transparent;
    text-decoration: none;
    margin: 0 50px;
}

.navbar-center{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

span{
    font-weight: bold;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #444444;
}

li a{
    text-decoration: none;
    color: #444444;
    margin: 2px;
    padding: 2px;
}


.departments li:hover,
.departments li:hover a{
    color: #efefef;
    background-color: #c65353;
    text-decoration: none;
}
